.DS_Store
assets.zip
assets/videos/shrek-final-draft.mp4
assets/videos/war-money-draft.mp4
assets/videos/beacons-ai.mp4
assets/videos/default.jobtemplate.mp4.480.mp4
assets/videos/bali-hanoi-episode-1.mp4
assets/videos/vlog-draft-1.mp4
assets/videos/storee-linkedin.mp4
assets/videos/morgan-testimonial.mov
